/*** 헤더 네비게이션 ***/
header {
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-bg{
    background: #2c3e50;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
}

.logo-text {
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

.search-bar input:focus {
    border-color: #ff6347;
}

.user-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.user-menu a:hover {
    color: #ff6347;
}

/*** 서브 카테고리 네비게이션 ***/

.nav-item button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-item button:hover {
    color: #0056b3;
}

/* styles/navigation.css */
.nav-menu {
    display: flex;
    align-items: center;
    width: auto;
}

/* 상위 카테고리 */
.top-category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: #2c3e50;
}

.top-category-item button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    /*font-weight: bold;*/
    transition: color 0.3s;
}

.top-category-item button:hover {
    color: #ff6347;
}

/* 하위 카테고리 */
.sub-category-nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 82px;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sub-category-item button {
    padding: 8px 16px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 14px;
    /*font-weight: bold;*/
    transition: color 0.3s;
}

.sub-category-item button:hover {
    background: #2c3e50;
    color: #ffffff;
}
